.posts{
  position: absolute;
  flex-direction: column;
  max-height: 35%;
  width: 90%;
  border-radius: 20px;
  margin-left: 5%;
  object-fit: cover;
}

.below-img{
  padding-top:25%
}
.posts__volunteer__btn {
  width: 50%;
  border-radius: 25px;
}

.detailed__button {
  border-radius: 25px;
}

.parent{
  display: flex;
}

.description{
  padding-right:10px
}
.posts__text {
  margin: 20% 6% 5% 6%;

} 

.posts__item__text {
 
  margin-right: 30px;
}