@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
} 

.NavLink {
  padding-top:200px
}

body, html {
  height: 100%;
  }
  .bg {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  } 

  .Alert {
    float:center;
    margin:0% 11% 0% 13%;
    }