.categories__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  color: #b1b1b1;
}

.categories__container :hover {
  color: #2998fe;
}

.fas {
  font-size: 2rem;
  vertical-align: middle;
}

.categories__icons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.categories__grp {
  text-align: center;
  padding: 10px;
}

.cagetories__link {
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .categories__container {
    display: block;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    color: #b1b1b1;
  }

  .categories__icons {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .fas {
    font-size: 3rem;
  }
}
