* {
  box-sizing: border-box;
}

.categories__icon {
  flex-direction: column;
}

.categories__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categories__grp {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.categories__grp :hover > .categories__text__icons {
  color: #1C704F  ;
  /* width: 100%; */
}

.fas {
  font-size: 3rem;
  vertical-align: middle;
}

@media screen and (max-width: 960px) {
  .categories__container {
    flex: 25%;
  }
}

@media screen and (max-width: 600px) {
  .categories__grp {
    flex-direction: 25%;
  }
}
