.findpost-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding-top: 5%;
}

.post-btn {
  position: relative;
  border-radius: 25px;
  width: 700px;
  height: 40px;
  background-color: #2998fe;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}
.post-btn:hover {
  position: relative;
  border-radius: 25px;
  width: 700px;
  height: 40px;
  background-color: #3d9ffa;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}

.find-btn {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 5px 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn-container {
  position: center;
  text-align: center;
  text-decoration: none;
  border: none;
  background: #e7e7e7;
  border-radius: 25px;
  width: 700px;
  height: 40px;
}
