/* .posts__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
} */

.posts__search__input {
  position: relative;
  text-align: center;
  text-decoration: none;
  border: none;
  background: #e7e7e7;
  border-radius: 25px;
  width: 700px;
  height: 40px;
}

.posts__search__input:hover {
  position: relative;
  text-align: center;
  text-decoration: none;
  border: none;
  color: #fff;
  background: #2998fe;
  border-radius: 25px;
  width: 700px;
  height: 40px;
}

:hover::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

.fa-search {
  font-size: 20px;
}

.posts__search__container {
  display: flex;
  justify-content: center;
  /* background-color: #e7e7e7; */
  border: none;
  color: #e7e7e7;
  padding: 80px 200px 30px 200px;
  text-align: center;
  /* text-decoration: none; */
  /* display: inline-block; */
  font-size: 20px;
}

.posts__volunteer__btn {
  color: #fff;
  background-color: #2998fe;
  border: none;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 5%;
  border-radius: 25px;
}
