.posts__search__input {
  position: relative;
  text-align: center;
  text-decoration: none;
  border: none;
  background: #e7e7e7;
  border-radius: 25px;
  width: 700px;
  height: 40px;
}

.posts__search__input:hover {
  position: relative;
  text-align: center;
  text-decoration: none;
  border: none;
  color: #fff;
  background: #2998fe;
  border-radius: 25px;
  width: 700px;
  height: 40px;
}

:hover::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

.posts__search__container {
  justify-content: center;
  border: none;
  color: #e7e7e7;
  padding-top: 40px;
  text-align: center;
  font-size: 20px;
}

.posts__volunteer__btn {
  color: #fff;
  background-color: #2998fe;
  border: none;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 5%;
  border-radius: 25px;
}

.posts__volunteer__btn:hover {
  color: #fff;
  background-color: #3d9ffa;
  border: none;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 5%;
  border-radius: 25px;
}

.posts__wrapper {
  position: relative;
  margin: 50px 20px 50px 20px;
}

.posts__items {
  margin-bottom: 24px;
  align-items: center;
}
