.posts {
  padding: 1rem;
  background: #fff;
}

h1 {
  text-align: center;
}

.posts__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

.posts__wrapper {
  position: relative;
  margin: 50px 0 50px;
}

.posts__items {
  margin-bottom: 24px;
  align-items: center;
}

.posts__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
  width: 100%;
}

.posts__item__link {
  text-decoration: none;
}

.posts__volunteer__btn {
  color: #fff;
  background-color: #2998fe;
  border: none;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 5%;
}

.posts__item__pic-wrap {
  position: relative;
  width: 100%;
  /* padding-top: 3%; */
  overflow: hidden;
}

.posts__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 50%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.posts__item__info {
  padding: 0px 20px;
  padding-left: 52%;
}

.posts__item__title {
  color: #000000;
  font-size: 25px;
}

.posts__item__text {
  color: #252e48;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  text-justify: inter-word;
}

.posts__item__detail {
  color: #000000;
  font-size: 15px;
  text-decoration: underline;
}
